.public-decks {
  @extend %body-margins;

  h1 {
    @extend %primary-header;
    border-bottom: 5px solid whitesmoke;
  }

  h2 {
    @extend %secondary-header;
  }

  .section-header {
    a {
      font-size: 20px;
      padding: 10px 5px;
      margin: 10px;
      color: #aaa;
    }

    a:hover {
      color: $slate;
    }
  }

  .public-decks-list {
    @extend %full-width-list;

    li {
      a {
        display: flex;
        width: 100%;
        align-items: baseline;
        cursor: pointer;
        p {
          padding: 5px 20px;
          width: 15%;
          cursor: inherit;
          background: inherit;
        }

        p:first-child {
          width: 30%;
          font-size: 16px;
          font-weight: 600;
        }

        p:nth-child(2) {
          width: 55%;
          font-size: 12px;
          color: #404040;
        }
      }

      a:hover {
        background: 	#fbc1c1;
      }
    }
  }
}

.public-deck-nav {
  display: flex;
  width: 100%;
  background: #eee;

  li {
    display: block;
    width: 15%;
    a, p {
      display: block;
      padding: 5px 20px;
      width: 100%;
      color: #aaa;
      cursor: default;
    }
  }

  li:first-child {
    width: 30%;
  }

  li:nth-child(2) {
    width: 55%;
  }
}

.public-deck-detail {
  background: whitesmoke;
  @extend %body-margins;
  @extend %full-page;
  @extend %large-button;
  @extend %header-padding;

  ul {
    @extend %full-width-list;

    p, a {
      width: 33%;
      padding: 10px 20px;
      font-weight: 500;
    }

    li:first-child {
      background: #eee;

      p, a {
        color: #aaa;
        font-weight: 600;
      }
    }

  }
}

.public-deck-header {
@extend %flex-row-between;
}

.public-deck-categories {
  padding-bottom: 20px;
  ul {
    @extend %display-list;
  }
}
