@font-face {
  font-family: 'Nagayama';
  src: local("nagayama_kai"),
       url('nagayama_kai08.otf');
  font-weight: bold;
}

.error {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 5%;
  left: 33%;
  width: 33%;
  height: 19%;

  li {
    font-style: italic;
    width: 425px;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #aaa;
    border-left: 10px solid #E59A9A;
    color: #000;
  }
}

.japanese {
  font-family: 'Nagayama';
  p {
    font-family: inherit;
    font-size: 30px;
    writing-mode: vertical-rl;
    float: left;
  }
}

.haiku {
  position: absolute;
  top: 33%;
  right: 5%;

  .japanese {
    p {
      padding: 0 20px;
    }
  }
}


.login {
  background: whitesmoke;
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;

  .sakura {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
}


.session-form {
  position: absolute;
  top: 200px;
  left: 33%;
  right: 33%;
  width: 33%;
  height: 300px;
  background: whitesmoke;
  
  h3 {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 2px solid #aaa;
  }

  form {
    display: flex;
    flex-direction: column;


    div {
      display: flex;
      align-items: center;
      width: 400px;
      padding: 10px;
      margin: 0 auto;
      justify-content: space-between;

      label {
        width: 100px;
        padding: 10px;
        color: #708090;
      }

      input {
        width: 75%;
        border-radius: 5px;
        height: 10px;
        padding: 10px;
      }

      input[type="submit"] {
        width: 70px;
        margin: 10px 0 10px 60px;
        height: auto;
      }

      a {
        padding: 10px;
        margin: 10px 40px;
        text-align: center;
        color: #ccc;
      }

      a:hover {
        color: #000;
      }
    }

    div:last-child {
      width: 440px;
      padding: 0;
      margin: 0;
    }
  }

  div:last-child {
    display: flex;
    width: 440px;
    justify-content: flex-end;
  }
}
