/* line 1, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.grids {
  background: #fff;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 10, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.table {
  margin-top: 100px;
}

/* line 14, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.group-axis {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 62px;
  max-height: 62px;
  width: 780px;
}
/* line 22, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.group-axis li {
  display: flex;
  background: #eee;
  border-top: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px;
  min-width: 50px;
  max-width: 50px;
  height: 40px;
  font-size: 30px;
  color: #aaa;
  justify-content: center;
}
/* line 38, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.group-axis li:first-child {
  margin-left: 72px;
  border-left: 1px solid #ccc;
}
/* line 43, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.group-axis li:last-child {
  border-right: 1px solid #ccc;
}

/* line 48, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid {
  display: flex;
  flex-direction: row;
  width: 780px;
  z-index: 0;
  font-size: 48px;
  margin: 0 auto;
  position: relative;
}
/* line 57, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul {
  display: flex;
  flex-direction: column;
}
/* line 60, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul li {
  font-family: "Times New Roman";
  font-weight: bolder;
  justify-content: center;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
/* line 76, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul li:hover {
  font-size: 30px;
  background: #FABCBC;
  color: #fff;
}
/* line 82, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul li:last-child {
  border-bottom: 1px solid #ccc;
}
/* line 87, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:first-child {
  border: 1px solid #aaa;
  height: auto;
  display: flex;
  flex-direction: row;
  width: 70px;
  background: #eee;
}
/* line 94, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:first-child li {
  display: flex;
  align-items: center;
  text-align: center;
  background: #eee;
  min-height: 51px;
  max-height: 51px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
  border: 0;
  justify-content: center;
  cursor: default;
}
/* line 108, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:first-child li:last-child {
  min-height: 50px;
  max-height: 50px;
}
/* line 113, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:first-child li:hover {
  background: #eee;
}
/* line 118, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
/* line 123, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:nth-child(1) li {
  border: 0;
  font-size: 30px;
  color: #aaa;
}
/* line 130, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.kana-grid ul:nth-child(2) {
  border-left: 1px solid #ccc;
}

/* line 135, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.hiragana-detail {
  font-family: 'Geni Ei Gothic';
}
/* line 137, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.hiragana-detail div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 5px solid #aaa;
}
/* line 144, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.hiragana-detail div p {
  text-align: center;
  padding: 40px;
  font-family: 'Geni Ei Gothic';
  font-size: 150px;
  width: 100%;
}
/* line 152, /Users/petermckinley/Desktop/soyukoto/app/assets/stylesheets/api/hiraganas.scss */
.hiragana-detail div p:first-child {
  border-right: 1px solid #ccc;
  font-weight: bold;
}
