body {
  font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

input[type="text"], input[type="password"], input[type="email"] {
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  background: #fff;
  border: 1px solid #000;
}

input[type="submit"], button, a {
  cursor: pointer;
}
