@font-face {
  font-family: 'Kouzan';
  src: url(asset_path("kouzangyousho.ttf"));
  font-weight: bold;
}

@font-face {
  font-family: 'MigMix';
  src: url(asset_path("mig-mix-1p-bold.ttf"));
  src: url(asset_path("migmix-1p-regular.ttf"));
}

$sakura: #E59A9A;
$dark-sakura: #BD5A5A;
$light-sakura: #fef8f8;
$pink-sakura: #FEF1F1;
$dark-pink: #F0ADAD;
$slate: #708090;

%content {
  padding: 61px 12.5% 0 12.5%;
}

%detail-page {
  box-sizing: border-box;
  min-height: 100vh;

  h2 {
    font-size: 56px;
    padding: 20px 20px 10px 20px;
  }

  h4 {
    padding: 20px;
    min-height: 40px;
    box-sizing: border-box;
  }
}

%display-list {
  display: flex;
  flex-wrap: wrap;
  li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 20%;
    height: auto;
  }

  h4 {
    padding: 10px;
    color: #aaa;
  }

  p {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    padding: 20px;
    color: #000;
    font-size: 72px;
  }

  li:hover {
    color: #000;
    h4 {
      color: #000;
    }
    p {
      background: #F0ADAD;
      border: 1px solid $dark-sakura;
      color: #fff;
    }
  }
}

%full-width-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    display: flex;
    width: 100%;
  }

  li:nth-child(2n) {
    background: $light-sakura;
  }

  li:nth-child(2n + 1) {
    background: #fff;
  }

  li:last-child {
    border-bottom: 20px solid #eee;
  }
}
