@font-face {
  font-family: 'Kouzan';
  src: url(asset_path("kouzangyousho.ttf"));
  font-weight: bold;
}

@font-face {
  font-family: 'MigMix';
  src: url(asset_path("migmix-1p-bold.ttf"));
}

$red-sakura: #cb3535;
$sakura: #E59A9A;
$dark-sakura: #BD5A5A;
$light-sakura: #fef8f8;
$pink-sakura: #FEF1F1;
$dark-pink: #F0ADAD;
$slate: #708090;

%large-button {
  button, input[type="submit"] {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 2px #ccc;
    color: $sakura;
    font-weight: bold;
    border: 5px solid $sakura;
    width: auto;
  }

  button:hover, input[type="submit"]:hover {
    background: $sakura;
    color: #fff;
  }
}

%hidden {
  display: none;
}

%greyscale {
  color: #aaa;
  background: #eee;
}

%primary-header {
  font-size: 56px;
  color: #000;
  padding: 20px;
}

%secondary-header {
  font-size: 40px;
  color: #aaa;
  padding: 20px;
}

%inputs {
  label {
    width: 33%;
    padding: 20px;
  }

  input[type="text"] {
    width: 67%;
  }
}

%body-margins {
  padding: 61px 12.5% 0 12.5%;
}

%flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%full-page {
  box-sizing: border-box;
  min-height: 100vh;
}

%header-padding {
  h1, h2, h3, h4, h5, h6 {
    padding: 20px;
  }
}

%card {
  display: flex;
  width: 50%;
  margin: 20px auto 0 auto;
  height: 60vh;
  width: 60vh;
  align-items: center;
  border: 10px solid #F0ADAD;
  outline: 3px solid $slate;
  background: #fff;
  box-shadow: 8px 8px 8px #ccc;
}

%button-nav {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  button, a {
    display: inline-block;
    width: 20%;
    padding: 2vh;
    text-align: center;
    background: #fff;
    border-top: 5px solid rgb( 0, 209, 167);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: 0 5px 5px #ccc;
    color: rgb(0, 209, 167);
    font-size: 36px;
  }

  button:first-child, a:first-child {
    border-left: 1px solid #eee;
    border-top: 5px solid #ff0032;
    color: #ff0032;
  }

  button:nth-child(2), a:nth-child(2) {
    border-top: 5px solid #ff5b7b;
    color: #ff5b7b;
  }

  button:nth-child(3), a:nth-child(3) {
    border-top: 5px solid #ffb7c5;
    color: #ffb7c5;
  }
}

%display-list {
  display: flex;
  flex-wrap: wrap;
  li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 20%;
    height: auto;
  }

  h4 {
    font-size: 2vw;
    padding: 10px;
    color: #aaa;
  }

  p {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 5vw;
    width: 5vw;
    padding: 2vw;
    color: #000;
    font-size: 5vw;
  }

  li:hover {
    color: #000;
    h4 {
      color: #000;
    }
    p {
      background: #F0ADAD;
      border: 1px solid $dark-sakura;
      color: #fff;
    }
  }
}

%full-width-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    display: flex;
    width: 100%;
  }

  li:nth-child(2n) {
    background: $light-sakura;
  }

  li:nth-child(2n + 1) {
    background: #fff;
  }

  li:last-child {
    border-bottom: 20px solid #eee;
  }
}

%wide-search-bar {
  width: 100%;
  position: relative;

  input[type="text"] {
    border: 0;
    border-bottom: 10px solid #eee;
    border-top: 10px solid #eee;
    padding: 10px 0;
    background: whitesmoke;
    width: 100%;
    text-align: center;
  }

  input[type="text"]:focus {
    border: 0;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
  }

  ul {
    left: 25%;
    right: 25%;
    width: 50%;
    position: absolute;

    li {
      width: 100%;
    }
  }
}
