.review {
  @extend %content;
  box-sizing: border-box;
  background: whitesmoke;
  min-height: 100vh;
  .review-item {
    @extend %card;
    font-size: 150px;
    font-weight: bold;
    justify-content: center;
    cursor: default;
    font-family: 'MigMix';
  }

  .review-nav {
    @extend %button-nav;
  }
}

.results {
  @extend %content;
  @extend %detail-page;
  background: whitesmoke;


  div:first-child {
    @extend %card;
    background: #fff;
    flex-direction: column;
  }

  h3 {
    font-weight: bold;
    color: #aaa;
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding: 5vh;
    max-height: 15vh;
    box-sizing: border-box;
  }

  div:nth-child(2) {
    @extend %button-nav;
  }
}
