@font-face {
  font-family: 'Kouzan';
  src: local("KouzanBrushFontGyousyo"),
  url('kouzangyousho.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Gen Ei Gothic';
  src: local("GenEiGothicN-Bold") format("otf"),
  url("GenEiGothicN-Bold.otf");
  font-weight: normal;
}


body, button, span,  div, h1, h2, h3, h4, h5, h6, label, textarea, input,
form, ul, li, a, p {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  background: transparent;
  color: inherit;
  border-radius: 0;
  white-space: inherit;
  resize: inherit;
  opacity: 1;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}


h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

input[type="text"], input[type="password"], input[type="email"] {
  background: #eee;
  border: 1px solid #ccc;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  background: #fff;
  border: 1px solid #000;
}

input[type="submit"], button {
  padding: 10px;
  width: 70px;
  text-align: center;
  color: #000;
}

input[type="submit"]:hover, button:hover {
  background: #BD5A5A;
}

input[type="submit"], button, a {
  cursor: pointer;
}
